.intro-main {
  display: inline-flex;
  width: 100%;
  justify-content: space-around;
}
div.intro-col {
  background: white;
  display: inline-block;
  width: 33%;
}
img:hover {
  cursor: pointer;
}
.dim {
  opacity: .25;
  filter: grayscale(100%);
}