.enemy-container {
  width: 33%;
  height: 100%;
  float: right;
}
.enemy-container img {
  position: absolute;
  bottom: 5px;
  filter: drop-shadow(5px 5px 3px rgba(0, 0, 0, 0.600));
  animation-name: enemy-rotate;
  animation-duration: 500ms;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.enemy-container img.ghost {
  position: absolute;
  bottom: 5px;
  filter: drop-shadow(5px 5px 3px rgba(0, 0, 0, 0.600));
  animation-name: ghost-move;
  animation-duration: 2000ms;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.enemy-container img.was-hit {
  filter: hue-rotate(50deg) drop-shadow(5px 5px 3px rgba(0, 0, 0, 0.600));
}

.enemy-health {
  text-align: center;
  margin-top: 100px;
}